* {
  /*border: 1px solid red;*/
  /*margin: 0;*/
  /*padding: 0;*/
}

/* body {
  background-color: rgba(210, 212, 216);
} */

img {
  /* width: 100%;
  opacity: 0.3;
  overflow: hidden; */
  /* max-height: 300px; */
}

header {
  background: linear-gradient(orange, yellow);
  position: relative;
  height: 300px;
}

h1 {
  position: absolute;
  top: 10%;
  left: 10%;
  color: darkgreen;
  font-size: 100px;
  text-align: center;
}

nav {
  background-color: #ccc;
}